<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <% if (theme.social_links) { %>
    <p>
      <%= __('index.find_me_on') %>
      <% var nb_links = Object.keys(theme.social_links).length %>
      <% var i = 0 %>
      <% for(var link in theme.social_links) { %>
        <% if (link == 'mail') { %>
          <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
            <i class="fas fa-envelope"></i><!--
      ---></a><!--
      ---><% } else { %>
          <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
            <i class="fab fa-<%= link %>"></i><!--
      ---></a><!--
    ---><% } %><!--
    ---><%= ( nb_links > 0 && i < nb_links-1 ?
            ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
            : __('index.enum_comma')+' ' )
            : '.' ) %>
        <% i+=1 %>
      <% } %>
    </p>
  <% } %>
</section>

<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>"># <%= __('index.articles') %></a></span>
  
  <!-- POST LIST -->
  <ul class="post-list">
    <% if (theme.posts_overview.show_all_posts) { %>
      <% var show_posts = page.posts.sort('date', 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort('date', 'desc').limit(theme.posts_overview.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <% if (theme.posts_overview.show_all_posts) { %>
    <%- partial('_partial/pagination') %>
  <% } %>

  <% if (theme.tags_overview && site.tags.length) { %>
  --
  <br />
  <span class="h3"><%= __('index.topics') %></span>
  <br />
  <span class="widget tagcloud">
    <%- tagcloud(theme.tags_overview) %>
  </span>
  <!-- <span class="h3"><%= __('index.most_recent') %></span> -->
  <% } %>
</section>

<% if (site.data.projects) { %>
  <section id="projects">
    <span class="h1">
      <a href="<%- url_for(theme.projects_url) %>">
        # <%= __('index.projects') %>
      </a>
    </span>
    <ul class="project-list">
      <% for(var obj in site.data.projects){ %>
        <li class="project-item">
          <a href="<%= site.data.projects[obj].url %>">
            <%= site.data.projects[obj].name %>
            </a>: <%- markdown(site.data.projects[obj].desc) %>
        </li>
      <% } %>
    </ul>
  </section>
<% } %>

<% if (site.data.talks) { %>
  <section id="talks">
    <span class="h1">
      <a href="<%- url_for(theme.talks_url) %>">
        # Talks
      </a>
    </span>
    <ul class="talks-list">
      <% for(var obj in site.data.talks){ %>
        <li class="talks-item">
          <a href="<%= site.data.talks[obj].url %>">
            <%= site.data.talks[obj].name %>
          </a>: <%- markdown(site.data.talks[obj].desc) %>
        </li>
      <% } %>
    </ul>
  </section>
<% } %>
