<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name:
    'posttitle' }) %> -
    <div class="meta">
      <!-- <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span> -->
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' })
      %> <%- partial('_partial/post/tag') %>
    </div>
    <br />
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody"><%- page.content %></div>
  <!-- <div class="fb-comments" data-href="https://www.facebook.com/perfil.kennysantacruz/posts/10156944619818064" data-order-by="reverse_time" data-width="100%" data-numposts="15"></div> -->
</article>
<%- partial('_partial/comments') %>
