<div id="footer-post-container">
  <div id="footer-post">
    <div id="actions-footer">
        <a id="menu" data-menu="nav-footer" class="icon menu-item" href="javascript:;"><i class="fas fa-bars fa-lg" aria-hidden="true"></i> <%= __('post.mobile.menu') %></a>
        <a id="toc" data-menu="toc-footer" class="icon menu-item" href="javascript:;"><i class="fas fa-list fa-lg" aria-hidden="true"></i> <%= __('post.mobile.toc') %></a>
        <a id="share" data-menu="share-footer" class="icon menu-item" href="javascript:;"><i class="fas fa-share-alt fa-lg" aria-hidden="true"></i> Share</a>
        <a id="top" style="display:none" data-menu="nav-footer" class="icon" href="javascript:;" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up fa-lg" aria-hidden="true"></i></a>
    </div>
    
    <div id="nav-footer" style="display: none">
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </div>

    <div id="toc-footer" style="display: none">
      <%- toc(page.content) %>
    </div>

    <div id="share-footer" style="display: none">
      <%- partial('_partial/post/share', { icon_class_name: 'fa-lg' }) %>
    </div>
  </div>
</div>
