<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy; <%= new Date().getFullYear() %> <%=
    config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %>
        <li>
          <a href="<%- url_for(theme.nav[i]) %>"
            ><%= __('nav.'+i).replace("nav.", "") %></a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
